<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black-50">
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em">
    <div class="alert alert-danger">
        <h1 class="display-4">404 - Not Found</h1>
        <span>Click <a th:href="@{/home}">link</a> to continue</span>
    </div>
</div>

</body>
</html>
